@model IEnumerable<KonusarakOgrenQuiz.Models.Quiz>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>WIRED</h3>
            </div>
        </div>
        <div class="panel-info">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Details</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                            <tr>
                                <td>@item.wired.titles</td>
                                <td>@Html.Raw(item.wired.smallText)</td>
                                <td><a href="QuizPage/Quiz/@item.id" class="btn btn-primary">SELECT</a></td>
                            </tr>
                        

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
